.container {
    background-image: url("./imgs/comingsoon.jpg");
    padding: 20rem 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-size: 10rem;
    text-align: center;
    color: var(--color-white);
}

@media (max-width: 600px) {
    .coming-soon {
        font-size: 6rem;
    }
}