.register-container {
    width: 100%;
    background-image: url("./imgs/register-bkg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register {
    width: 100%;
    padding: 15rem 10rem 30rem;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(4px);
}